body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #2f2841;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    color: #00ff88;
    margin-right: 10px;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}

.form-container {
    max-width: 400px;
    overflow-y: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.car-form {
    width: 45%;
    padding: 20px;
    background-color: #2f2841;
    color: #00ff88;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #00000056;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.form-field label {
    color: #00ff88;
    margin-right: 10px;
    text-align: left;
}

.form-field input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 5px 20px #00000056;
    outline: none;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #00ff88;
    color: #2b134b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
    transition: background-color 0.3s ease;
}


.submit-button:hover {
    background-color: #00cc66;
}

.form-group {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.form-group label {
    color: #00ff88;
    margin-right: 10px;
    width: 30%;
    display: inline-block;
    text-align: right;
}

.form-group input[type="text"],

.form-group select {
    flex-grow: 1; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    outline: none;
    position: relative;
}


.form-group select::after {
    content: "\25BC"; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 12pt;
    color: #00ff88;
}


.form-group input[type="email"],
.form-group input[type="tel"] {
    flex-grow: 1; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    outline: none;
}


.form-group input[type="email"]::before {
    content: "\2709"; 
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 12pt;
    color: #00ff88;
}


.form-group input[type="tel"]::before {
    content: "\260E"; 
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 12pt;
    color: #00ff88;
}


.form-group select option:checked {
    background-color: #00ff88; 
    color: #2b134b; 
}


.submit-button {
    width: 100%;
    max-width: 300px;
    padding: 16px 0;
    margin-top: 25px;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-group input[type="checkbox"] {
    display: none; 
}

.checkbox-group label {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #514869;
    color: #f0ffffde;
    border: 1px solid #00ff88;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkbox-group label:hover {
    background-color: #00cc66; /
}


.checkbox-group input[type="checkbox"]:checked + label {
    background-color: #00ff88;
    color: #2b134b;
    border: 1px solid #2b134b;
}

.container {
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    color: #00ff88;
}
